h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 200%;  
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
