h1{
    font-family: arial;
    text-align: center;
    text-decoration: solid;
  }
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}
h3{
    text-align: left;
}
  .navbar ul{
    list-style-type: none;
    background-color: hsl(270, 1%, 30%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
  }
  .navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-family: arial;
  }
  Body{
    animation: transitionIn 0.75s;
    margin: 0px;
    font-family: sans-serif;
    background-image: url(https://static.vecteezy.com/system/resources/previews/025/368/196/original/landscape-background-wall-art-foliage-line-art-drawing-with-abstract-shape-plant-art-design-for-print-cover-wallpaper-vector.jpg);
}
img{
    overflow: hidden;
    align-content: center;
}
.content{
    text-align: left;
}
@keyframes transitionin{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.contact-box{
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 20px - #999 ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
form{
    margin: 35px;
}
.input-field{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}
.textarea-field{
    height: 150px;
    padding-top: 10px;   
}
.btn{
    border-radius: 20px;
    color: #fff;
    margin-top: 18px;
    padding: 10px;
    background-color: #67723e;
    font-size: 12px;
    border: none;
    cursor: pointer;

}
main{
    margin-left: 20px;
    margin-right: 20px;
    background-color: none;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
  .navbar a:hover{
     background-color: hsl(0, 0%, 10%);
  }
  .navbar li{
    float: left;
  }
